# 修改为实际后端服务地址
VITE_ACTION_API_BASE_URL=http://localhost:8080
VITE_DEV_SERVER_PORT=5173
VITE_DEV_SERVER_HOST=0.0.0.0
# Kafka iot.alert 去重面板配置
VITE_ALERT_API_URL=http://localhost:8080/api/clusters/local/topics/iot.alert/messages
VITE_ALERT_FETCH_METHOD=POST
VITE_ALERT_FETCH_LIMIT=200
